<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>AppIcon.icns</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>한글 맞춤법 검사</string>
			</dict>
			<key>NSMessage</key>
			<string>handlePasteAndCheck</string>
			<key>NSPortName</key>
			<string>MatchumbeopService</string>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSRTFDPboardType</string>
			</array>
			<key>NSServiceDescription</key>
			<string>선택한 텍스트의 한글 맞춤법을 검사합니다.</string>
			<key>NSRestricted</key>
			<false/>
			<key>NSRequiredContext</key>
			<dict/>
		</dict>
	</array>
	<key>SUFeedURL</key>
	<string>https://matchumbeop.ssut.me/Support/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>oXSo82AWzS6y7odVowozqI8jg7p2Ub6T4WxopBk7ysQ=</string>
</dict>
</plist>
