<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>AppIcon.icns</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Check Spelling with Machumbub</string>
			</dict>
			<key>NSMessage</key>
			<string>machumbubServiceRequest:</string>
			<key>NSPortName</key>
			<string>MachumbubService</string>
			<key>NSReturnTypes</key>
			<array>
				<string>NSStringPboardType</string>
			</array>
			<key>NSSendTypes</key>
			<array>
				<string>NSStringPboardType</string>
				<string>NSRTFPboardType</string>
				<string>NSRTFDPboardType</string>
			</array>
			<key>NSServiceDescription</key>
			<string>Check spelling of selected text</string>
		</dict>
	</array>
</dict>
</plist>
